POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# used for local prisma commands
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

DB_DOCKER_SERVICE=database
DOCKER_DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_DOCKER_SERVICE}/${POSTGRES_DB}?connect_timeout=600"

