POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# used for local prisma commands
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

DB_DOCKER_SERVICE=database
DOCKER_DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_DOCKER_SERVICE}/${POSTGRES_DB}?connect_timeout=600"DATA=hello

JWT_SECRET=secret
JWT_EXPIRES=3600s


ARGON_MEMORY_COST=65536
ARGON_TIME_COST=3
ARGON_PARALLELISM=2
ARGON_HASH_LENGTH=32


PORT=8080